.sophis-video-control {
  position: absolute;
  background: black;
  color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 9999999;
  outline: none;
  opacity: 0.1;
  -webkit-transition: all 1s;
}

.sophis-video-control:hover {
  opacity: 1;
}

.sophis-video-control .btn {
  display: inline-block;
  height: 20px;
  width: 20px;
  color: white;
  background: black;
  border: 1px solid white;
  border-radius: 1000px;
  outline: none;
}

.sophis-video-control .btn:active {
  border: 1px solid lightblue;
  color: lightblue;
}

.sophis-video-control .speed-indicator {
  color: lightblue;
  padding: 0 10px;
}
