.sophis-video {
  position: relative !important;
  text-align: center !important;
  font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif !important;
}

.sophis-video-control {
  position: absolute !important;
  background: black !important;
  color: white !important;
  border-radius: 5px !important;
  border: 1px solid #ccc !important;
  padding: 5px !important;
  z-index: 9999999 !important;
  outline: none !important;
  opacity: 0.3 !important;
  -webkit-transition: all 0.5s !important;
  margin: 10px !important;
  -webkit-user-select: none !important;
  cursor: pointer !important;
}

.sophis-video-control:hover {
  opacity: 1 !important;
}

.sophis-video-control .sophis-btn {
  display: inline-block !important;
  height: 20px !important;
  width: 20px !important;
  color: white !important;
  background: black !important;
  border: 1px solid white !important;
  border-radius: 1000px !important;
  outline: none !important;
  -webkit-transition: all 0.2s !important;
  line-height: 20px !important;
  padding: 0 !important;
  vertical-align: center !important;
}

.sophis-video-control .sophis-btn:active {
  border: 1px solid lightblue !important;
  color: lightblue !important;
}

.sophis-video-control .speed-indicator {
  color: white !important;
  padding: 0 10px !important;
}

.sophis-close-button {
  position: absolute !important;
  bottom: -10px !important;
  left: -webkit-calc(50% - 10px) !important;
  margin: auto !important;
  display: block !important;
  color: #ccc !important;
  font-size: 10px !important;
  font-weight: light !important;
}
