.sophis-video {
  position: relative;
  text-align: center;
}

.sophis-video-control {
  position: absolute;
  background: black;
  color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 9999999;
  outline: none;
  opacity: 0.3;
  -webkit-transition: all 0.5s;
  margin: 10px;
  -webkit-user-select: none;
  cursor: pointer;
}

.sophis-video-control:hover {
  opacity: 1;
}

.sophis-video-control .sophis-btn {
  display: inline-block;
  height: 20px;
  width: 20px;
  color: white;
  background: black;
  border: 1px solid white;
  border-radius: 1000px;
  outline: none;
  -webkit-transition: all 0.2s;
  line-height: 20px;
  padding: 0;
  vertical-align: center;
}

.sophis-video-control .sophis-btn:active {
  border: 1px solid lightblue;
  color: lightblue;
}

.sophis-video-control .speed-indicator {
  color: white;
  padding: 0 10px;
}

.sophis-close-button {
  position: absolute;
  bottom: -10px;
  left: -webkit-calc(50% - 10px);
  margin: auto;
  display: block;
  color: #ccc;
  font-size: 10px;
  font-weight: light;
}
